<!DOCTYPE html>
<html lang="en">

{{>head}}

<body class="login">

  <style>
    .error{
      background-color: brown;
      color: aliceblue;
    }
  </style>
  <main class="form-signin">
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
    <form action="login" method="post">

      <h1 class="h3 mb-3 text-center">Acceso al panel de control</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="usuario" placeholder="name@example.com" name="usuario">
        <label for="usuario">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password">
        <label for="password">Contraseña</label>
      </div>


      <button class="w-100 btn btn-lg btn-info" type="submit">Entrar</button>
    </form>

    <div class="col-md-4 col-xs-12 col-sm-4 d-flex justify-content-end align-items-center">
                        {{#if logueado}}
                        <a href="/logout">LOGOUT: admin@test.com </a> | <a href="/admin">ADMIN</a>
                        {{else}}
                        <a href="/login">Login</a>
                        {{/if}}
                    </div>

  </main>


</body>

</html>